* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #4caf50;
  font-family: cursive;
}

li {
  list-style: none;
}

body {
  font-family: cursive;
  background-color: #e0ffe0;
  text-align: center;
  margin-top: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  margin: auto;
  max-width: 1400px;
  position: relative;
}

.form__container {
  background: rgba(19, 18, 18, 0.7);
  color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  margin-bottom: 350px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: 0.3s ease;
}

input:focus {
  background-color: #f2f2f2;
  border: 2px solid #4caf50;
}

.checkbox {
  text-align: center;
}

.checkbox input {
  margin-right: 10px;
}

.btn {
  width: 100%;
  padding: 14px 0;
  background-color: #2e8b57;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #267a4e;
}

.video__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
