* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-family: cursive;
}

li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    margin: auto;
    max-width: 1400px;
    position: relative;
}

.form-container {
    background: rgba(19, 18, 18, 0.7);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: 0.3s ease;
}

input:focus {
    background-color: #f2f2f2;
    border: 2px solid #4CAF50;
}

.checkbox {
    text-align: center;
    margin-bottom: 20px;
}

.checkbox label {
    font-size: 14px;
    color: #ccc;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox a {
    margin-left: 5px; /* Добавляем отступ между текстом и ссылками */
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.social-signup {
    margin-top: 30px;
}

.social-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-btn.facebook {
    background-color: #3b5998;
    color: white;
    margin-top: 100px;
    
}

.social-btn.twitter {
    background-color: #1da1f2;
    color: white;
    margin-top: 100px;
}

.social-btn.google {
    background-color: #db4437;
    color: white;
    margin-top: 100px;
}

.social-btn:hover {
    opacity: 0.9;
}

a:hover {
    font-family: cursive;
}

.text{
    margin-top: 20px;
    color: #ccc;
    font-family: cursive;
}

.sign-text{
    margin-top: 20px;
    color: #ccc;
    font-family: cursive;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


